.header {
    background-color: #f0f0f0;
    height: 180px;
    padding: 70px 40px;
    vertical-align: center;
}
.dot {
    font-size: 16pt;
    margin-top: -6px;
}
.header-text {
    padding-left: 40px;
    font-size: 20px;
}
.onav {
    padding-top: 60px;
}

.onav-ul {
    list-style-type: none;
}
li {
    padding: 10px 0px;
}
.active {
    font-weight: bold;
}
.back {
    height: 1000px;
    background-color: white;
}
.footer-text{
    padding-left: 5px;
    font-size: 20px;
    margin-bottom: 0;
}
.footer-dot {
    padding-left: 25px;

}
.o-footer {
    background-color: #F0F0F0;
    padding: 80px 0px 80px 0px;
    margin: auto -15px auto 0px;
}
.col {
    display: block;
    width: 100%;
}
