.header {
    padding: 80px 20px;
    vertical-align: center;
	position: fixed;
	z-index: 1;
}
.top {
	background-color: #f0f0f0;
    vertical-align: center;
	min-height: 190px;
}
.dot {
    font-size: 16pt;
    margin-top: -6px;
    padding-left: 25px;

}
.header-text {
    font-family: helvetica;
	letter-spacing: 1px;
	line-height: 24px;
    padding-left: 5px;
    font-size: 16px;
	color: rgb(15,15,15);
}
a {
	color: rgb(15,15,15);
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: rgb(0,0,250);
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}
.onav {
    padding-top: 60px;
}

.onav-ul {
    list-style-type: none;
}
li {
    padding: 10px 0px;
}
.active {
    font-weight: bold;
}
.back {
    height: 1000px;
    background-color: white;
	position: relative;
	z-index: 100;
    margin-bottom: 450px;
}
.footer-text{
    font-family: helvetica;
	line-height: 24px;
	letter-spacing: 1px;
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 0;
	color: rgb(15,15,15);
}
.footer-dot {
    padding-left: 25px;

}
.o-footer {
    background-color: #F0F0F0;
    padding: 80px 0px 80px 0px;
    margin: 0 -15px 0 0;
    min-height: 334px;
    bottom: 0;
    position: fixed;
    z-index: 10;
}
.col {
    display: block;
    width: 100%;
}
