.header {
  padding: 80px 20px;
  vertical-align: center;
	position: fixed;
	z-index: 99;
}
.top {
    vertical-align: center;
	min-height: 190px;
}
.header-text-dot {
  color: rgb(0,0,250);
  padding-left: 40px;
}
.header-text {
  font-family: NeuzeitSLTStd-Book, helvetica;
	letter-spacing: 1px;
	line-height: 27px;
  padding-left: 40px;
  font-size: 19px;
	color: rgb(15,15,15);
}
a {
	color: rgb(15,15,15);
	text-decoration: none;
	font-family: NeuzeitSLTStd-BookHeavy, helvetica;
  border-bottom: 1px solid rgb(0,0,250);
  -webkit-font-smoothing: antialiased;
}
a:hover{
	color: rgb(0,0,250);
	text-decoration: none;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
  border-bottom: 1px solid rgb(0,0,250);
}
.onav {
    padding-top: 60px;
}

.onav-ul {
    list-style-type: none;
}
li {
    padding: 10px 0px;
}
.active {
    font-weight: bold;
}
.content {
  background-color: white;
  border-top: 1px solid rgb(0,0,250);
	position: relative;
	z-index: 100;
  padding: 0px 20px;
}
.content-last{
  background-color: white;
  border-top: 1px solid rgb(0,0,250);
  border-bottom: 1px solid rgb(0,0,250);
  position: relative;
  z-index: 100;
  margin-bottom: 376px;
  padding: 0px 20px;
}
.footer-text{
  font-family: NeuzeitSLTStd-Book, helvetica;
	line-height: 27px;
	letter-spacing: 1px;
  padding-left: 40px;
  font-size: 19px;
  margin-bottom: 0;
	color: rgb(15,15,15);
  z-index: 10;
}
.footer-text-dot {
  color: rgb(0,0,250);
  padding-left: 40px;

}
.o-footer {
  background-color: white;
  padding: 80px 20px;

  min-height: 334px;
  bottom: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.col {
  display: block;
  width: 100%;
}
.images {
  padding: 0px;
  padding-bottom: 80px;
}
.desc {
  padding: 0px;
  padding-bottom: 40px;
  font-family: NeuzeitSLTStd-Book, helvetica;
  line-height: 27px;
  letter-spacing: 1px;
  font-size: 19px;
}
.blocks {
  padding: 0 40px 0 40px;
}
.content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-last {
  padding-top: 80px;
  padding-bottom: 80px;
}
#name {
  font-family: NeuzeitSLTStd-BookHeavy, helvetica;
}
.stick {
    position: fixed !important;
    z-index: 99;
    top: 0px;
}
.scroll {
    position: absolute;
    top: 2000px;
}
#scroller {
    background-color: blue;
}
